<div class="background-image">
  <h1>𝔉𝔦𝔩𝔪𝔦𝔣𝔶</h1>
  <div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required [(ngModel)]="email">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required [(ngModel)]="password">
      </div>
      <button type="submit" class="btn">Login</button>
      
    </form>
  </div>
</div>
