
  <div class="current-movies">
    <div class="current-movies">
      <div class="current-movie">
        <div class="cm-img-box">
          <img src="assets/up1.jpg" alt="">
        </div>
        <h3 class="movie-title">DEATH NOTE</h3>
        <p class="screen-name">Screen : Glod</p>
        <div class="booking">
          <h2 class="price">$55</h2>
          <button class="b" (click)="addToCart('DEATH NOTE','Glod','$55','assets/up1.jpg')">Add to cart</button>
          <button class="b" (click)="goToTicketPage('DEATH NOTE','Glod','$55')">Buy Tickets</button>
       </div>
      </div>
    <div class="current-movie">
      <div class="cm-img-box">
        <img src="assets/mo2.jpg" alt="">
      </div>
      <h3 class="movie-title">SPIRITED AWAY</h3>
      <p class="screen-name">Screen : Glod</p>
      <div class="booking">
        <h2 class="price">$45</h2>
        <button class="b" (click)="addToCart('SPIRITED AWAY','Glod','$45','assets/mo2.jpg')">Add to cart</button>
        <button class="b" (click)="goToTicketPage('SPIRITED AWAY','Glod','$45')">Buy Tickets</button>
      </div>
    </div>
    <div class="current-movie">
      <div class="cm-img-box">
        <img src="assets/mo4.jpg" alt="">
      </div>
      <h3 class="movie-title">ONE PIECE</h3>
      <p class="screen-name">Screen : Platinum</p>
      <div class="booking">
        <h2 class="price">$100</h2>
        <button class="b" (click)="addToCart('ONE PIECE','Platinum','$100','assets/mo4.jpg')">Add to cart</button>
        <button class="b" (click)="goToTicketPage('ONE PIECE','Platinum','$109')">Buy Tickets</button>
      </div>
    </div>
    <div class="current-movie">
      <div class="cm-img-box">
        <img src="assets/mo3.jpg" alt="">
      </div>
      <h3 class="movie-title">DEMON SLAYER</h3>
      <p class="screen-name">Screen : Glod</p>
      <div class="booking">
        <h2 class="price">$50</h2>
        <button class="b" (click)="addToCart('DEMON SLAYER','Glod','$50','assets/mo3.jpg')">Add to cart</button>
        <button class="b" (click)="goToTicketPage('DEMON SLAYER','Glod','$50')">Buy Tickets</button>
      </div>
    </div>
    <div class="current-movie">
      <div class="cm-img-box">
        <img src="assets/mo5.jpg" alt="">
      </div>
      <h3 class="movie-title">JUJUTSU KAISEN 0 MOVIE</h3>
      <p class="screen-name">Screen : Glod</p>
      <div class="booking">
        <h2 class="price">$45</h2>
        <button class="b" (click)="addToCart('JUJUTSU KAISEN 0 MOVIE','Glod','$45','assets/mo5.jpg')">Add to cart</button>
        <button class="b" (click)="goToTicketPage('JUJUTSU KAISEN 0 MOVIE','Glod','$45')">Buy Tickets</button>
      </div>
    </div>
    <div class="current-movie">
      <div class="cm-img-box">
        <img src="assets/mo6.jpg" alt="">
      </div>
      <h3 class="movie-title">SUZUME NO TOJIMARI</h3>
      <p class="screen-name">Screen : Platinum</p>
      <div class="booking">
        <h2 class="price">$25</h2>
        <button class="b" (click)="addToCart('SUZUME NO TOJIMARI','Platinum','$25','assets/mo6.jpg')">Add to cart</button>
        <button class="b" (click)="goToTicketPage('SUZUME NO TOJIMARI','Glod','$25')">Buy Tickets</button>
      </div>
    </div>
    <div class="current-movie">
      <div class="cm-img-box">
        <img src="assets\mo7.jpg" alt="">
      </div>
      <h3 class="movie-title">ATTACK ON TITAN</h3>
      <p class="screen-name">Screen : Platinum</p>
      <div class="booking">
        <h2 class="price">$95</h2>
        <button class="b" (click)="addToCart('ATTACK ON TITAN','Platinum','$95','assets/mo7.jpg')">Add to cart</button>
        <button class="b" (click)="goToTicketPage('ATTACK ON TITAN','Platinum','$95')">Buy Tickets</button>
      </div>
    </div>
    <div class="current-movie">
      <div class="cm-img-box">
        <img src="assets\mo8.jpg" alt="">
      </div>
      <h3 class="movie-title">YOUR NAME</h3>
      <p class="screen-name">Screen : Platinum</p>
      <div class="booking">
        <h2 class="price">$45</h2>
        <button class="b" (click)="addToCart('YOUR NAME','GOLD','$45','assets/mo8.jpg')">Add to cart</button>
        <button class="b" (click)="goToTicketPage('YOUR NAME','Platinum','$45')">Buy Tickets</button>
      </div>
    </div>
    <div class="current-movie">
      <div class="cm-img-box">
        <img src="assets/mo9.jpg" alt="">
      </div>
      <h3 class="movie-title">NARUTO</h3>
      <p class="screen-name">Screen : Platinum</p>
      <div class="booking">
        <h2 class="price">$100</h2>
        <button class="b" (click)="addToCart('NARUTO','Platinum','$100','assets/mo9.jpg')">Add to cart</button>
        <button class="b" (click)="goToTicketPage('NARUTO','Platinum','$100')">Buy Tickets</button>
      </div>
    </div>

  </div>

